<div class="links">
<style>
    .galleria{ width: 800px; height: 534px; background: #FFFFFF }
</style>
<div data-ng-if="pageName != 'travel'"><a href="#/travel">Travel</a></div>
<div data-ng-if="pageName == 'travel'" class="mainCategoryCurrent">Travel</div>

<!-- Photo series -->
<div data-ng-if="mainCategory != 'series'"><a href="#/series">Photo<br />Series</a></div>
<div data-ng-if="pageName == 'series'" class="mainCategoryCurrent categoryHead">Photo<br />Series</div>
<div data-ng-if="mainCategory == 'series' && pageName != 'series'" class="categoryHead"><a href="#/series">Photo<br />Series</a></div>
<div data-ng-if="mainCategory == 'series' && pageName != 'anonymity'" class="subsublinks"><a href="#/series/anonymity" class="subsublink">Anonymity</a></div>
<div data-ng-if="mainCategory == 'series' && pageName == 'anonymity'" class="subsubnonlinks">Anonymity</div>
<div data-ng-if="mainCategory == 'series' && pageName != 'worldpeople'" class="subsublinks"><a href="#/series/worldpeople" class="subsublink">Larger world</a></div>
<div data-ng-if="mainCategory == 'series' && pageName == 'worldpeople'" class="subsubnonlinks">Larger world</div>
<div data-ng-if="mainCategory == 'series' && pageName != 'digidarkroom'" class="subsublinks"><a href="#/series/digidarkroom" class="subsublink">Digital darkroom</a></div>
<div data-ng-if="mainCategory == 'series' && pageName == 'digidarkroom'" class="subsubnonlinks">Digital darkroom</div>
<div data-ng-if="mainCategory == 'series' && pageName != 'peoplenature'" class="subsublinks"><a href="#/series/peoplenature" class="subsublink">People and nature</a></div>
<div data-ng-if="mainCategory == 'series' && pageName == 'peoplenature'" class="subsubnonlinks">People and nature</div>

<!-- Analog darkrooms -->
<div data-ng-if="mainCategory != 'darkroom'"><a href="#/darkroom">Analog Darkrooms</a></div>
<div data-ng-if="pageName == 'darkroom'" class="mainCategoryCurrent categoryHead">Analog Darkrooms</div>
<div data-ng-if="mainCategory == 'darkroom' && pageName != 'darkroom'" class="categoryHead"><a href="#/darkroom">Analog Darkrooms</a></div>
<div data-ng-if="mainCategory == 'darkroom' && pageName != 'colordarkroom'" class="sublinks"><a href="#/darkroom/colordarkroom" class="sublink">Color</a></div>
<div data-ng-if="mainCategory == 'darkroom' && pageName == 'colordarkroom'" class="subnonlinks">Color</div>
<div data-ng-if="mainCategory == 'darkroom' && pageName != 'howitworks'" class="subsublinks"><a href="#/darkroom/colordarkroom/howitworks" class="subsublink">How it works</a></div>
<div data-ng-if="mainCategory == 'darkroom' && pageName == 'howitworks'" class="subsubnonlinks">How it works</div>
<div data-ng-if="mainCategory == 'darkroom' && pageName != 'printing'" class="subsublinks"><a href="#/darkroom/colordarkroom/printing" class="subsublink">Printing in action</a></div>
<div data-ng-if="mainCategory == 'darkroom' && pageName == 'printing'" class="subsubnonlinks">Printing in action</div>
<div data-ng-if="mainCategory == 'darkroom' && pageName != 'analogvsdigital'" class="subsublinks"><a href="#/darkroom/colordarkroom/analogvsdigital" class="subsublink">Analog vs. digital</a></div>
<div data-ng-if="mainCategory == 'darkroom' && pageName == 'analogvsdigital'" class="subsubnonlinks">Analog vs. digital</div>
<div data-ng-if="mainCategory == 'darkroom' && pageName != 'bwdarkroom'" class="sublinks"><a href="#/darkroom/bwdarkroom" class="sublink">Black + White</a></div>
<div data-ng-if="mainCategory == 'darkroom' && pageName == 'bwdarkroom'" class="subnonlinks">Black + White</div>

<div data-ng-if="mainCategory != 'photobooks'"><a href="#/photobooks">Photo Books</a></div>
<div data-ng-if="pageName == 'photobooks'" class="mainCategoryCurrent categoryHead">Photo Books</div>
<div data-ng-if="mainCategory == 'photobooks' && pageName != 'photobooks'" class="categoryHead"><a href="#/photobooks">Photo Books</a></div>
<div data-ng-if="mainCategory == 'photobooks'" data-ng-repeat="photobook in photobookdata"  class="sublinks">
    <a data-ng-if="pageName == photobook.url" data-ng-href="#/photobooks/{{photobook.url}}" class="sublink boldText" data-ng-bind-html="photobook.title"></a>
    <a data-ng-if="pageName != photobook.url" data-ng-href="#/photobooks/{{photobook.url}}" class="sublink" data-ng-bind-html="photobook.title"></a>
</div>
<div data-ng-if="pageName != 'latest'"><a href="#/latest">Latest</a></div>
<div data-ng-if="pageName == 'latest'" class="mainCategoryCurrent">Latest</div>
<div data-ng-if="pageName != 'about'"><a href="#/about">About</a></div>
<div data-ng-if="pageName == 'about'" class="mainCategoryCurrent">About</div>
<div><a href="#/home">Home</a></div>
</div>
